tr td {
    border: 2px solid #219b66;
    padding: 6px 10px 6px 10px;
    align-content: center;
    font-weight: 500;
    
}

.feriado {
    font-weight: 900;
    background-color: #217953;
}

th {

border: 2px solid #217953;
background-color: #a1d361;
font-weight: 500;
align-content: center;
}



table {
    display: block;
    margin-top: 6px;
    border: #13613f solid 1px;
    
}

.legenda {

    text-align: center;

}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p {
    margin: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

.mes {
    width: 50%;
    display: flex;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.uni {

    width: 100px;
    height: 100px;

}

.fim {

background-color: #f6ff7b; 

}

.r {

    background-color: #ffe59d;
}

.p {

    background-color: #ffb2a4;

}

.i {

    background-color: #cef388;

}
